---
- name: Find all year directories
  ansible.builtin.find:
    paths: "{{ bot_dir }}/html"
    file_type: directory
    patterns: "[0-9]{4}"
    use_regex: true
    excludes:
      - README.md
  register: year_dirs

- name: Sort year directories
  ansible.builtin.set_fact:
    sorted_years: "{{ year_dirs.files | map(attribute='path') | map('basename') | sort | reverse | list }}"

- name: Generate footer with archive links
  ansible.builtin.template:
    src: templates/pisg-footer.txt.j2
    dest: "{{ bot_dir }}/pisg-config/footer.txt"
    mode: '0644'

- name: Read updated footer content
  ansible.builtin.slurp:
    src: "{{ bot_dir }}/pisg-config/footer.txt"
  register: footer_content

- name: Find all index.html files in year directories
  ansible.builtin.find:
    paths: "{{ bot_dir }}/html"
    patterns: '[0-9]{4}/index\.html'
    use_regex: true
    recurse: true
  register: year_index_files

- name: Update archive links in all previous years' index.html files
  ansible.builtin.replace:
    path: "{{ item.path }}"
    after: '(?m)<!-- BEGIN ARCHIVE LINKS -->'
    before: '<!-- END ARCHIVE LINKS -->'
    regexp: '^(.*)$'
    replace: >-
      {{ footer_content["content"] | b64decode |
         regex_replace("<!-- BEGIN ARCHIVE LINKS -->|<!-- END ARCHIVE LINKS -->", "") | trim }}
  loop: "{{ year_index_files.files }}"
  when: year_index_files.matched > 0
