<div id="archive-links"></div>
<script>
(function() {
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/archive-links.html", true);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      document.getElementById("archive-links").innerHTML = xhr.responseText;
    }
  };
  xhr.send();
})();
</script>
